@media screen and (max-width: 576px) {

    .large-container {
        display: flex;
        flex-direction: column;
        height: 80%;
    }

    .boxes {
        width: 100%;
    }

    .box-a {
        height: 18%;
    }

    .box-f {
        width: 100%;
        height: 25%;
    }

    .box-b {
        height: 66%;
    }

    .box {
        width: 100%;
        height: 30%;
    }

    .box-a,
    .box-b,
    .box-f,
    .box {
        border-radius: 10px;
    }

}