@media screen and (max-width: 576px) {

    .wrap {
        flex-direction: column;
        /*padding: 20px;*/
    }

    .box-b {
        width: 100%;
        height: 66%;
    }

    .box-c {
        width: 100%;
        height: 30%;
    }

    .box-a,
    .box-b,
    .box-c {
        border-radius: 10px;
    }

}